/target

/.classpath

/.project
/.pydevproject

/.settings
/bin

/src/test/resources/**/*.class
/src/test/resources/**/*.suo
/src/test/resources/**/*.sdf
/src/test/resources/**/*.user
/src/test/resources/**/*.tlog
